
@{
    ViewBag.Title = "Validation";
    Layout = "~/Areas/Demo/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/manager">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="javascript:void(0);">Forms</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->

<!-- 页面内容 start -->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">Form Validation</div>
                <div class="panel-body pan">
                    <form id="amy-form" action="@Url.Action("Save", "Forms", new { area="Demo" })" method="post" class="form-horizontal">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label for="code" class="col-md-3 control-label">
                                    学生编号：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input">
                                        <input type="text" id="code" name="code" placeholder="学生编号" class="form-control" required rangelength="[5,10]" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="code" class="col-md-3 control-label">
                                    确认编号：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input">
                                        <input type="text" name="code2" placeholder="确认编号" class="form-control" required rangelength="[5,10]" equalTo="#code" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">
                                    学生姓名：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        <input type="text" name="username" placeholder="学生姓名" class="form-control" required maxlength="4" minlength="2" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age" class="col-md-3 control-label">
                                    学生年龄：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        <input type="text" name="age" placeholder="学生年龄" class="form-control" required data-type="digits" range="[18,50]" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">
                                    学生邮箱：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="text" name="email" placeholder="学生邮箱" class="form-control" required data-type="email" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-md-3 control-label">
                                    学生手机：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa fa-location-arrow"></i>
                                        <input type="text" name="phone" placeholder="学生手机" class="form-control" required data-type="digits" maxlength="11" minlength="11"  />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="url" class="col-md-3 control-label">
                                    学生网址：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa fa-location-arrow"></i>
                                        <input type="text" name="url" placeholder="学生网址" class="form-control" required data-type="url" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="col-md-3 control-label">
                                    入学时间：<span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa fa-location-arrow"></i>
                                        <input type="text" name="date" placeholder="入学时间" class="form-control" required data-type="dateISO" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="javascript:history.back(-1)" class="btn btn-green">返回</a>&nbsp;
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                        @*<div class="form-actions text-right pal">
                                <a href="javascript:history.back(-1)" class="btn btn-green">返回</a>&nbsp;
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 页面内容 end -->

@section scripts{
    <script type="text/javascript">
        $('#amy-form').myValidate(function (form) {
            $(form).ajaxSubmit({
                success: function (res) {
                    if (res.Flag) {
                        amy.alert(res.Content);
                    }
                    else {
                        amy.alert(res.Content[0][1]);
                    }
                },
                error: function () {

                },
                dataType: "json"
            })
        });
    </script>
}
