
@{
    ViewBag.Title = "WebUploader";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/manager">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="javascript:void(0);">实用插件示例</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->
<!-- 右侧内容 start -->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="note note-warning" style="color:#777777">
                <h3><a href="http://fex.baidu.com/webuploader/" target="_blank">WebUploader!</a> 采用大文件分片并发上传，极大的提高了文件上传效率。</h3>
                <p>WebUploader是由Baidu WebFE(FEX)团队开发的一个简单的以HTML5为主，FLASH为辅的现代文件上传组件。在现代的浏览器里面能充分发挥HTML5的优势，同时又不摒弃主流IE浏览器，沿用原来的FLASH运行时，兼容IE6+，iOS 6+, android 4+。两套运行时，同样的调用方式，可供用户任意选用。</p>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="uploader" class="wu-example amy-webuploader">
                <div class="queueList">
                    <div class="placeholder dndarea">
                        <div class="filepicker"></div>
                        <p>或将照片拖到这里，单次最多可选300张</p>
                    </div>
                </div>
                <div class="statusBar" style="display:none;">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div><div class="info"></div>
                    <div class="btns">
                        <div class="filePicker2"></div><div class="uploadBtn">开始上传</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">大文件分片上传示例</div>
                <div class="panel-body pan">
                    <form id="amy-form" action="@Url.Action("Save", "Forms", new { area="Demo" })" method="post" class="form-horizontal">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label for="code" class="col-md-3 control-label">用户文档：</label>
                                <div class="col-md-6">
                                    <input id="Pictrue" name="Picture" type="hidden" />
                                    <div id="silveruploader" class="wu-example amy-webuploader">
                                        <!--用来存放文件信息-->
                                        <div class="filename"></div>
                                        <div class="state"></div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width:2%">
                                                0%
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <div class="btn btn-green js-picker">选择文件</div>
                                            <a class="btn btn-green js-uploader">开始上传</a>
                                            <a class="btn btn-red js-pause">暂停上传</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="javascript:history.back(-1)" class="btn btn-green">返回</a>&nbsp;
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 右侧内容 end -->

@section styles{
    <link href="/content/mgr/vendors/webuploader/webuploader.css" rel="stylesheet" />
}

@section scripts{
    <script src="/content/mgr/vendors/webuploader/webuploader.js"></script>
    <script src="/content/mgr/vendors/webuploader/amy.webuploader.js"></script>

    <script type="text/javascript">
        $('#amy-form').myValidate(function (form) {
            $(form).ajaxSubmit({
                success: function (res) {
                    if (res.Flag) {
                        amy.alert(res.Content);
                    }
                    else {
                        amy.alert(res.Content[0][1]);
                    }
                },
                error: function () {

                },
                dataType: "json"
            })
        });

        $('#uploader').multuploader({
            server: '/admin/plugin/uploadfile'
        });

        $('#silveruploader').sliveruploader({
            server: '/admin/plugin/uploadsliverfile',
            mergeserver: '/admin/plugin/mergesliverfile'
        },
        function (data) {
            $("#Pictrue").val(data.path);
        });
    </script>
}

