
@{
    ViewBag.Title = "Notific";
    Layout = "~/Areas/Demo/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/manager">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="javascript:void(0);">UIAdvanced</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->

<!-- 页面内容 start -->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="note note-success">
                <h4 class="box-heading">Sco.message</h4>
                <p>Sco.message is separate with Notific8, you can customize it easily</p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body pan">
                    <form class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Notification text:</label>
                                <div class="col-md-6">
                                    <input id="notific8Text" type="text" value="修改用户密码操作成功！" placeholder="enter a text ..." class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Sticky:</label>
                                <div class="col-md-6">
                                    <input id="notific8Sticky" type="checkbox" name="notific8Sticky" />&nbsp; (if checked, setting life below will be ignored)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Life:</label>
                                <div class="col-md-6">
                                    <select id="notific8Life" name="notific8Life" class="form-control">
                                        <option value="1000">1 second</option>
                                        <option value="5000">5 seconds</option>
                                        <option value="10000" selected="selected">10 seconds (default)</option>
                                        <option value="25000">25 seconds</option>
                                        <option value="60000">60 seconds</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Heading (optional):</label>
                                <div class="col-md-6">
                                    <input id="notific8Heading" type="text" name="notific8Heading" size="50" maxlength="50" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Theme:</label>
                                <div class="col-md-6">
                                    <select id="notific8Theme" name="notific8Theme" class="form-control">
                                        <option value="teal" selected="selected">teal (default)</option>
                                        <option value="amethyst">amethyst</option>
                                        <option value="ruby">ruby</option>
                                        <option value="tangerine">tangerine</option>
                                        <option value="lemon">lemon</option>
                                        <option value="lime">lime</option>
                                        <option value="ebony">ebony</option>
                                        <option value="smoke">smoke</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Position:</label>
                                <div class="col-md-3">
                                    <select id="notific8horizontal" name="notific8horizontal" class="form-control">
                                        <option value="top">top (default)</option>
                                        <option value="bottom">bottom</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select id="notific8vertical" name="notific8vertical" class="form-control">
                                        <option value="right">right (default)</option>
                                        <option value="left">left</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <button id="notific8Test" type="button" name="notific8Test" class="btn btn-primary">Test notific8</button>
                                    <button id="message_trigger_ok" type="button" name="Sco.messageTest" class="btn btn-success mll">Test Sco.message.ok</button>
                                    <button id="message_trigger_err" type="button" name="Sco.messageTest" class="btn btn-danger mll">Test Sco.message.error</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 页面内容 end -->

@section scripts{
    <script type="text/javascript">
        $('#message_trigger_ok').on('click', function () {
            $.scojs_message('The system has been updated with many new features', $.scojs_message.TYPE_OK);
        });

        $('#message_trigger_err').on('click', function () {
            $.scojs_message('The system is not working for maintenance', $.scojs_message.TYPE_ERROR);
        });

        $('#notific8Test').on('click', function () {
            var settings = {
                theme: $('select#notific8Theme').val(),
                sticky: $('input#notific8Sticky').is(':checked'),
                horizontalEdge: $('select#notific8horizontal').val(),
                verticalEdge: $('select#notific8vertical').val()
            },
                $button = $(this);
            
            if ($.trim($('input#notific8Heading').val()) != '') {
                settings.heading = $.trim($('input#notific8Heading').val());
            }
            
            if (!settings.sticky) {
                settings.life = $('select#notific8Life').val();
            }

            amy.notific8($.trim($('input#notific8Text').val()), settings);
        })
    </script>
}

