
@{
    ViewBag.Title = "Preloader";
    Layout = "~/Areas/Demo/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/manager">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="javascript:void(0);">UIAdvanced</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->

<!-- 页面内容 start -->
<div class="page-content">
    <div id="preloader" class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">Ajax loader images</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 mtm mbxl">
                            <div id="pageloader-img">
                                <img src="/content/mgr/vendors/pageloader/images/loader1.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader2.GIF" style="max-width: 100px;" /><img src="/content/mgr/vendors/pageloader/images/loader3.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader4.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader5.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader6.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader7.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader8.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader9.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader10.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader11.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader12.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader13.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader14.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader16.GIF" /><img src="/content/mgr/vendors/pageloader/images/loader17.GIF" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">Page loader HTML5 & CSS3</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="note note-info">
                                <p>Note! Some examples have background color follow global color, change it in <b>theme setting</b> on the top right</p>
                            </div>
                        </div>
                        <div class="col-lg-6 mtm">
                            <div id="pageloader5">
                                <div class="spinner">
                                    <main>
                                        <span class="spinner-inline"></span>
                                    </main>
                                </div>
                                <div class="spinner demo">
                                    <main>
                                        <span class="spinner-inline"></span>
                                    </main>
                                </div>
                                <button href="javascript:void(0);" class="show_demo btn btn-success mtm text-center">Show demo</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mtm">
                            <div id="pageloader2">
                                <div class="spinner">
                                    <div class="center">
                                        <div class="bouncywrap">
                                            <div class="dotcon dc1">
                                                <div class="dot"></div>
                                            </div>
                                            <div class="dotcon dc2">
                                                <div class="dot"></div>
                                            </div>
                                            <div class="dotcon dc3">
                                                <div class="dot"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spinner demo">
                                    <div class="center">
                                        <div class="bouncywrap">
                                            <div class="dotcon dc1">
                                                <div class="dot"></div>
                                            </div>
                                            <div class="dotcon dc2">
                                                <div class="dot"></div>
                                            </div>
                                            <div class="dotcon dc3">
                                                <div class="dot"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button href="javascript:void(0);" class="show_demo btn btn-success mtm text-center">Show demo</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mtm">
                            <div id="pageloader3">
                                <div class="spinner">
                                    <div class="loader">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="spinner demo">
                                    <div class="loader">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <button href="javascript:void(0);" class="show_demo btn btn-success mtm text-center">Show demo</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mtm">
                            <div id="pageloader4">
                                <div class="spinner">
                                    <div class="spinftw"></div>
                                </div>
                                <div class="spinner demo">
                                    <div class="spinftw"></div>
                                </div>
                                <button href="javascript:void(0);" class="show_demo btn btn-success mtm text-center">Show demo</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mtm">
                            <div id="pageloader1">
                                <div class="spinner">
                                    <div class="body">
                                        <div id="container">
                                            <div id="dot"></div>
                                            <div id="s1" class="step"></div>
                                            <div id="s2" class="step"></div>
                                            <div id="s3" class="step"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spinner demo">
                                    <div class="body">
                                        <div id="container">
                                            <div id="dot"></div>
                                            <div id="s1" class="step"></div>
                                            <div id="s2" class="step"></div>
                                            <div id="s3" class="step"></div>
                                        </div>
                                    </div>
                                </div>
                                <button href="javascript:void(0);" class="show_demo btn btn-success mtm text-center">Show demo</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mtm">
                            <div id="pageloader7">
                                <div class="spinner">
                                    <div class="container">
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                    </div>
                                </div>
                                <div class="spinner demo">
                                    <div class="container">
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                        <div class="ball"></div>
                                    </div>
                                </div>
                                <button href="javascript:void(0);" class="show_demo btn btn-success mtm text-center">Show demo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 页面内容 end -->

@section scripts{
    <script type="text/javascript">
        $('#message_trigger_ok').on('click', function (e) {
            e.preventDefault();
            $.scojs_message('The system has been updated with many new features', $.scojs_message.TYPE_OK);
        });

        $('#message_trigger_err').on('click', function (e) {
            e.preventDefault();
            $.scojs_message('The system is not working for maintenance', $.scojs_message.TYPE_ERROR);
        });

        $(document).ready(function () {
            // TO USE PRELOADRE, LET OPEN CODE BELOW AND DELETE ALL 
            // $('.spinner.demo').fadeOut('slow');
            $('.spinner.demo').hide();
            $('.show_demo').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                $(this).parent().find('.spinner.demo').show();
                setTimeout(function () {
                    $this.parent().find('.spinner.demo').fadeOut('slow');
                }, '3000');
            });
        });
    </script>
}