
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人生若只如初见</title>
</head>
<body>
    <h1>欢迎访问“人生若只如初见”，点击开发者登录，浏览更多web开发常用功能……</h1>
    <div>
        <a href="/admin/manager" target="_blank">开发者登录</a>
    </div>
</body>
</html>
