<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="RedisConfig" type="Amy.Runtime.Caching.Redis.Configuration.SectionHandler"/>
    <section name="ElasticsearchConfig" type="Amy.Unit.Elasticsearch.NET.Configuration.SectionHandler"/>
    <section name="QiniuOBSConfig" type="Amy.Plugins.OBS.QiniuConfig.SectionHandler"/>
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--关闭browser link请求-->
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--启用Form认证，需修改当前项目属性windows身份认证为启用状态-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
  </system.web>
  
  <system.webServer>
    <!--所有请求全部走路由，可以通过路由实现伪静态等-->
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <RedisConfig>
    <add key="ReadWriteHosts" value="192.168.2.31:6379"/>
    <add key="ReadOnlyHosts" value="192.168.2.31:6379"/>
    <add key="MaxWritePoolSize" value="5"/>
    <add key="MaxReadPoolSize" value="5"/>
  </RedisConfig>
  
  <ElasticsearchConfig>
    <add key="Nodes" value="http://localhost:9200"/>
    <add key="IndexName" value="db_article"/>
    <add key="IndexType" value="article"/>
  </ElasticsearchConfig>
  
  <QiniuOBSConfig>
    <add key="AccessKey" value="tOqHcY0_emoaeYs9-lDmn9zw0YpwgQXB0vvckGRJ"/>
    <add key="SecretKey" value="ex39wWLYzvS247qRfcoil70ZDwyYjseZ3lzis3NV"/>
    <add key="Bucket" value="amy-wechat"/>
    <add key="Domain" value="http://7xlrlw.com1.z0.glb.clouddn.com"/>
  </QiniuOBSConfig>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>